h1 {color: rgb(239, 241, 241);}
h1, h2, p {
    font-family: Arial, sans-serif;
}

#searchButton {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #141414;
    font-weight: bold;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #e0e0e0;
}

header { display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0071eb;
    padding: 15px;
}

article {
    
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    background-color: #1f1f1f;
}
 


.poster {
    width: 200px;
}



main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sinopse {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
body {
    background-color: #141414;
    color: #ffffff;
}

#searchInput {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
}

#searchInput:focus {
    outline: 3px solid #141414;
}